<?xml version="1.0" encoding="utf-8"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=301879
  -->
<configuration>
  <configSections>
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=5.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
  </configSections>
  <appSettings>
    <add key="webpages:Version" value="3.0.0.0" />
    <add key="webpages:Enabled" value="false" />
    <add key="ClientValidationEnabled" value="true" />
    <add key="UnobtrusiveJavaScriptEnabled" value="true" />
  </appSettings>
  <system.web>
    <compilation debug="true" targetFramework="4.5" />
    <httpRuntime targetFramework="4.5" />
  </system.web>
  <system.webServer>
    <handlers>
      <remove name="ExtensionlessUrlHandler-Integrated-4.0" />
      <remove name="OPTIONSVerbHandler" />
      <remove name="TRACEVerbHandler" />
      <add name="ExtensionlessUrlHandler-Integrated-4.0" path="*." verb="*" type="System.Web.Handlers.TransferRequestHandler" preCondition="integratedMode,runtimeVersionv4.0" />
    </handlers>
    <modules>
      <!--<add name="BasicAuthHttpModule"
        type="ApiProject.Modules.BasicAuthHttpModule, YourAssemblyName"/>-->
      <add name="BasicAuthHttpModule" type="ApiProject.Modules.BasicAuthHttpModule"/>
    </modules>
  </system.webServer>
  <connectionStrings>
    <clear />
    <add name="ConnectionString.SOLIEUBPBK" connectionString="Data Source=10.70.80.203;Database=SO_LIEU_BPBK;uid=netpost;pwd=1234567890; Max Pool Size=1000;Connect Timeout=600;Pooling=true;" />
    <add name="ConnectionString.KhieuNai" connectionString="Data Source=192.168.68.178;Database=QL_KHIEUNAI;uid=sa;pwd=trungnd123@; Max Pool Size=1000;Connect Timeout=600;Pooling=true;" />
    <!--<add name="QL_KHIEUNAIEntities" connectionString="metadata=res://*/Models.QLKhieuNai.csdl|res://*/Models.QLKhieuNai.ssdl|res://*/Models.QLKhieuNai.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=TUNG-PC;initial catalog=QL_KHIEUNAI;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />-->
    <!--<add name="QL_KHIEUNAIEntities" connectionString="metadata=res://*/Models.QLKhieuNai.csdl|res://*/Models.QLKhieuNai.ssdl|res://*/Models.QLKhieuNai.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=192.168.68.178;initial catalog=QL_KHIEUNAI;user id=sa;password=trungnd123@;;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />-->
   <add name="QL_KHIEUNAIEntities" connectionString="metadata=res://*/Models.QLKhieuNai.csdl|res://*/Models.QLKhieuNai.ssdl|res://*/Models.QLKhieuNai.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=TUNG-PC;initial catalog=QL_KHIEUNAI;user id=sontung;password=123456;;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.LocalDbConnectionFactory, EntityFramework">
      <parameters>
        <parameter value="v11.0" />
      </parameters>
    </defaultConnectionFactory>
  </entityFramework>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30AD4FE6B2A6AEED" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-6.0.0.0" newVersion="6.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Net.Http.Formatting" publicKeyToken="31BF3856AD364E35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-5.2.3.0" newVersion="5.2.3.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="WebGrease" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-1.5.2.14234" newVersion="1.5.2.14234" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Helpers" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-3.0.0.0" newVersion="3.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.WebPages" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-3.0.0.0" newVersion="3.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Mvc" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-5.2.3.0" newVersion="5.2.3.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-6.0.0.0" newVersion="6.0.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>
